.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* Apply flex display to create a line layout */
.content-menu-container {
  display: flex;
}

/* Apply styles for the content side */
.content-side {
  flex: 1; /* Make content side take up available space */
  background-color: #f8f9fa; /* Add background color to the content side */
  margin-right: 4px;
  padding: 20px; /* Add some padding for spacing */
}

/* Apply styles for the menu side */
.menu-side {
  flex: 1; /* Make menu side take up available space */
 margin-left: 8px;
  padding: 20px; /* Add some padding for spacing */
}

